.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  padding: 20px;
}

.login-page .background-logo-img-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.login-page .background-logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-page .login-page-container {
  width: 100%;
  max-width: 700px;
}

.login-page .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--background-body);
  border-radius: 30px;
  padding: 30px;
}

.login-page .form-container .form-title {
  font-size: 2em;
  text-align: center;
}

.login-page .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 500px;
}

.login-page .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 24px;
  width: 100%;
}

.login-page .input {
  border: 1px solid;
  border-radius: 7px;
  height: 60px;
  font-size: 24px;
}

.login-page .clue {
  font-size: 14px;
  color: var(--subtext);
}

.login-page .input-submit {
  font-size: 24px;
  padding: 15px 30px;
  border-radius: 30px;
  color: var(--color-text-ligth);
  background-color: var(--primary-color);
  width: 170px;
}

.login-page .checkbox-container {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.login-page .checkbox-password {
  accent-color: black;
  height: 18px;
  width: 18px;
}

.login-page .subtext {
  color: var(--subtext);
}

.login-page .link-subtext { 
  color: var(--link);
}

@media only screen and (max-width: 768px) {
  .login-page .form-container .form-title {
    font-size: 2em;
  }
}
