/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.block-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.util-drop-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p.util-drop-shadow,
h1.util-drop-shadow,
h2.util-drop-shadow,
h3.util-drop-shadow {
  box-shadow: none;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* https://stackoverflow.com/questions/14593415/how-to-strike-through-obliquely-with-css */
.strike-through {
  position: relative;
}
.strike-through:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
