:root {
  --light-pink: #ffcdc0;
  --primary-color: #ff623b;
  --color-text-ligth: #ffffff;
  --text-dark: #000000;
  --link: #7f265b;
  --subtext: #666666;
  --border-dark: #000000;
  --background-body: #ffffff;

  --success-green: #63db63;
  --fail-red: #d65a5a;
}
