.spinner-components-spinner {
  position: relative;
  display: block;
}

.spinner-components-spinner .loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 48px;
  height: 48px;

  border: 5px solid var(--border-dark);
  border-bottom-color: var(--background-primary);
  border-radius: 50%;

  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
