.main-page.container {
  align-items: center;
  text-align: center;

  color: var(--color-text-light);
}

.main-page p {
  font-size: 22px;
}

.main-page h1 {
  font-size: 72px;
  font-weight: bold;
}

.main-page h2 {
  font-size: 42px;
  font-weight: bold;
}

.main-page button {
  width: 200px;
  font-size: 18px;
  height: auto;
}
